% -*- mode: erlang -*-
{erl_first_files, ["deps/protobuffs/src/protobuffs_compile.erl"
                  ,"src/behaviour_gen_server.erl"
                  ,"src/misc/dynarec.erl"]}.

{erl_opts, [
			debug_info
            ,warnings_as_errors
			,{i, "include"}
			,{i, "include/inst"}
			,{i, "include/tpl"}
			,{i, "include/emysql"}
			,{i, "include/deps"}
			,{outdir, "ebin"}
			,{src_dirs, ["src","src/*","src/*/*","src/*/*/*/*"]}
            ,{imports_dir, ["src/proto_new"]}
            ,{parse_transform, lager_transform}
            ]}.

{deps, [{protobuffs, ".*"}
       ,{meck, ".*"}
       ,{emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", master}}
       ,{lager, ".*",  {git, "https://github.com/basho/lager.git", master}}
        ]}.

            
{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
