% -*- mode: erlang -*-
{erl_opts, [
			debug_info
			,{i, "include"}
			,{i, "include/emysql"}
			,{outdir, "ebin"}
			,{src_dirs, ["src","src/*","src/*/*","src/*/*/*/*"]}
			,{imports_dir, ["src/proto"]}
            ]}.
            
{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
