% -*- mode: erlang -*-
{erl_first_files, ["deps/protobuffs/src/protobuffs_compile.erl"
                  ,"src/kernel/game_gen_server.erl"
                  ,"src/misc/dynarec.erl"]}.

{erl_opts, [
			debug_info
			,{i, "include"}
			,{i, "include/inst"}
			,{i, "include/tpl"}
			,{i, "include/emysql"}
			,{i, "include/deps"}
			,{outdir, "ebin"}
			,{src_dirs, ["src","src/*","src/*/*","src/*/*/*/*"]}
            ,{imports_dir, ["src/proto"]}
            ]}.

{deps, [{protobuffs, ".*"}
       ,{meck, ".*"}
        ]}.

            
{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
