{server_type, game}.
{server_ip,"172.19.17.102"}.
{server_port,38001}.

{db_host,"127.0.0.1"}.
{db_port,3306}.
{db_user,"root"}.
{db_pwd,"123456"}.
{db_encode, utf8}.

{open_date, {{2014, 1, 13}, {10, 0, 0}}}.

{log_level,6}.                  %% 日志等级

{platform, "zbb"}.
{server_id, 1}.
{prefix, s}.
