{server_type,   cross}.
{server_ip,     "172.19.17.102"}.
{server_port,   39001}.
{map_port,      39002}.

{platform,          "zbb"}.
{global_server_id,  10001}.     %% 每个服唯一的id(装服时自增获得)
{server_id,         10001}.
{prefix,            c}.         %% 服务器id前缀，t表示测试服，s表示稳定服，c表示跨服

{db_host,   "127.0.0.1"}.
{db_port,   3306}.
{db_user,   "root"}.
{db_pwd,    "123456"}.
{db_encode, utf8}.

{open_date, {{2014, 1, 13}, {10, 0, 0}}}.

{log_level,6}.                  %% 日志等级



