{server_type,   map}.
{server_ip,     "127.0.0.1"}.
{server_port,   37001}.
{map_port,      37002}.

{platform,          "zbb"}.
{global_server_id,  1}.         %% 每个服唯一的id(装服时自增获得)
{server_id,         1}.
{prefix,            s}.         %% 服务器id前缀，t表示测试服，s表示稳定服

{db_host,   "127.0.0.1"}.
{db_port,   3306}.
{db_user,   "zbb"}.
{db_pwd,    "zbb15018702828"}.
{db_encode, utf8}.

{open_date, {{2014, 1, 13}, {10, 0, 0}}}.

{log_level, 6}.                  %% 日志等级

{game_node, 'game_zbb_s1_39001@172.19.17.102'}.
